<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Reporter</th>
        <th>Created</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bug of bugs">
        <td>{{bug.id}}</td>
        <td>{{bug.title}}</td>
        <td>{{bug.description}}</td>
        <td>{{bug.priority}}</td>
        <td>{{bug.reporter}}</td>
        <td>{{bug.createdAt | date:'medium'}}</td>
        <td>{{bug.updatedAt | date:'medium'}}</td>
      </tr>
    </tbody>
  </table>
</div>
