<div class="card">
  <div class="card-body p-1">
    <div class="d-flex  justify-content-between">
    <brs-advanced-search (searched)="onSearch($event)"></brs-advanced-search>
    <button type="button" class="btn btn-primary" [routerLink]="'/bug/new'">Create New Bug</button>
  </div>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr class="">
      <th>
        <a href="javascript:void(0)" (click)="sortBy('title')">Title
          <i class="fa" [ngClass]="asc == false ? 'fa-arrow-up' : 'fa-arrow-down'" [hidden]="sortedColumn!='title'"></i>
        </a>
      </th>
      <th>
        <a href="javascript:void(0)" (click)="sortBy('priority')">Priority
          <i class="fa" [ngClass]="asc == false ? 'fa-arrow-up' : 'fa-arrow-down'" [hidden]="sortedColumn!='priority'"></i>
        </a>
      </th>
      <th>
        <a href="javascript:void(0)" (click)="sortBy('reporter')">Reporter
          <i class="fa" [ngClass]="asc == false ? 'fa-arrow-up' : 'fa-arrow-down'" [hidden]="sortedColumn!='reporter'"></i>
        </a>
      </th>
      <th>
        <a href="javascript:void(0)" (click)="sortBy('createdAt')">Date
          <i class="fa" [ngClass]="asc == false ? 'fa-arrow-up' : 'fa-arrow-down'" [hidden]="sortedColumn!='createdAt'"></i>
        </a>
      </th>
      <th>
        <a href="javascript:void(0)" (click)="sortBy('status')">Status
          <i class="fa" [ngClass]="asc == false ? 'fa-arrow-up' : 'fa-arrow-down'" [hidden]="sortedColumn!='status'"></i>
        </a>
      </th>
      <th>Comments</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bug of bugs">
      <td>{{ bug.title }}</td>
      <td><span class="badge" [ngClass]="priorityClass(bug.priority)">{{displayPriority(bug.priority)}}</span></td>
      <td>{{ bug.reporter }}</td>
      <td>{{ bug.createdAt | date:'d/M/yy, HH:mm' }}</td>
      <td>{{ bug.status || 'Unknown'}}</td>
      <td><ul>
          <li *ngFor="let comment of bug.comments">{{comment.reporter}} - {{comment.description}}</li>
        </ul>
      </td>
      <td><a class="btn btn-sm btn-outline-dark" [routerLink]="['../bug',bug.id]" role="button">Edit</a>
        <a class="btn btn-sm btn-outline-danger" (click)="deleteBug(bug)" role="button">Delete</a></td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{disabled: page == 0}">
      <a class="page-link" href="javascript:void(0)" aria-label="Previous" (click)="page=page-1;getBugs()">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let pg of totalpagesArray" [ngClass]="{active: pg==page}">
      <a class="page-link" href="javascript:void(0)" (click)="page=pg;getBugs()">{{pg+1}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled: page == totalpagesArray.length - 1}">
      <a class="page-link" href="javascript:void(0)" aria-label="Next" (click)="page=page+1;getBugs()">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    <li>
      <div class="form-group col-6">
        <input type="number" class="form-control" name="pagesize" id="pagesize" aria-describedby="pagesize" [(ngModel)]="pagesize"
          (ngModelChange)="page=0;getBugs()">
      </div>
    </li>
  </ul>
</nav>
