<form #form="ngForm" class="" (submit)="formSubmit(form)" [formGroup]="bugForm">


      <div class="form-group col-md-4 mb-3">
        <label class="form-control-label">Title</label>
        <input class="form-control" type="text" formControlName="title" />
        <div *ngIf="bugForm.get('title').invalid && (bugForm.get('title').touched || showValidations)" class="text-danger">
          {{ model.title != null && model.title != '' ? 'Min Length 3 characters' : 'Field is required'}}
        </div>
      </div>

      <div class="form-group col-md-4 mb-3">
        <label class="form-control-label">Description</label>
        <input class="form-control" type="text"  formControlName="description"  />
        <div *ngIf="bugForm.get('description').invalid && (bugForm.get('description').touched || showValidations)" class="text-danger">
          Field is required
        </div>
      </div>


    <div class="form-group col-md-4 mb-3" >
      <label class="form-control-label">Priority</label>
      <br/>
      <select class="form-control" formControlName="priority" >
        <option [ngValue]="null">Select</option>
        <option *ngFor="let pr of priorities" [ngValue]="pr.id">
          {{pr.value}}
        </option>
      </select>
      <div *ngIf="bugForm.get('priority').invalid && (bugForm.get('priority').touched || showValidations)" class="text-danger">
          Field is required
        </div>
    </div>

    <div class="form-group col-md-4 mb-3" >
        <label class="form-control-label">Reporter</label>
        <br/>
        <select class="form-control" formControlName="reporter" >
          <option [ngValue]="null">Select</option>
          <option *ngFor="let pr of reporters">
            {{pr}}
          </option>
        </select>
        <div *ngIf="bugForm.get('reporter').invalid && (bugForm.get('reporter').touched || showValidations)" class="text-danger">
            Field is required
          </div>
      </div>

      <div class="form-group col-md-4 mb-3" >
          <label class="form-control-label">Status</label>
          <br/>
          <select  formControlName="status"  class="form-control">
            <option [ngValue]="null">Select</option>
            <option *ngFor="let pr of statuses">
              {{pr}}
            </option>
          </select>
          <div *ngIf="bugForm.get('status').invalid" class="text-danger">
              Field is required
            </div>
        </div>
    <button class="btn btn-primary ml-3 mt-3" type="submit">Submit</button>
  </form>


