<form [formGroup]="bugForm" class="form" (submit)="formSubmit(bugForm)">

<fieldset class="fieldset"><legend>{{formStatus == 'create' ? 'New Bug': 'Edit Bug'}}</legend></fieldset>
      <div class="form-group col-md-4 mb-3">
        <label class="form-control-label">Title</label>
        <input formControlName="title" class="form-control" type="text"/>
        <div *ngIf="bugForm.get('title').invalid && (bugForm.get('title').touched || bugForm.get('title').dirty)" class="text-danger">
            {{titleFormControlErrorMessage}}
        </div>
      </div>

      <div class="form-group col-md-4 mb-3">
        <label class="form-control-label">Description</label>
        <input class="form-control" formControlName="description" type="text"/>
        <div *ngIf="bugForm.get('description').invalid && (bugForm.get('description').touched || bugForm.get('description').dirty)" class="text-danger">
          Field is required
        </div>
      </div>


    <div class="form-group col-md-4 mb-3" >
      <label class="form-control-label">Priority</label>
      <br/>
      <select formControlName="priority" class="form-control">
        <option *ngFor="let pr of priorities" [ngValue]="pr.id">
          {{pr.value}}
        </option>
      </select>
      <div *ngIf="bugForm.get('priority').invalid && (bugForm.get('priority').touched || bugForm.get('priority').dirty)" class="text-danger">
          Field is required
        </div>
    </div>

    <div class="form-group col-md-4 mb-3" >
        <label class="form-control-label">Reporter</label>
        <br/>
        <select formControlName="reporter" class="form-control">
          <option [ngValue]="''">Select</option>
          <option *ngFor="let pr of reporters">
            {{pr}}
          </option>
        </select>
        <div *ngIf="bugForm.get('reporter').invalid && (bugForm.get('reporter').touched || bugForm.get('reporter').dirty)" class="text-danger">
            Field is required
          </div>
      </div>

      <div class="form-group col-md-4 mb-3" >
          <label class="form-control-label">Status</label>
          <br/>
          <select formControlName="status" class="form-control">
            <option [ngValue]="''">Select</option>
            <option *ngFor="let pr of statuses" [ngValue]="pr">
              {{pr}}
            </option>
          </select>
          <div *ngIf="bugForm.get('status').invalid && (bugForm.get('status').touched || bugForm.get('status').dirty)" class="text-danger">
              Field is required
            </div>
        </div>
        <div *ngIf="formStatus === 'edit'">
            <div class="float-right">
                <button class="btn btn-primary" (click)="addComment()" type="button">Add Comment</button>
            </div>
            <div formArrayName="comments">
                <div *ngFor="let cm of bugForm.get('comments').controls; let i = index">
                  <div [formGroupName]="i" class="col-sm-12">
                        <textarea formControlName="description" class="col-sm-6"></textarea>
                        <label class="form-control-label" class="wt-auto">Reported from:</label>
                        <input formControlName="reporter" class="col-sm-3" type="text"/>
                    </div>
                  </div>
              </div>
        </div>
    <button [disabled]="!bugForm.valid" class="btn btn-primary ml-3 mt-3" type="submit">Submit</button>
  </form>


